#img {
  display: block;
  margin: auto;
  height: 128px;
  width: 128px;
  padding: 2rem;
}

body {
  background-image: url("./imagenes/fondo.png");
}

#play {
  text-align: center;
}

#buttonContainer {
  border: 2px solid white;
 
}

#buttonContainer input.enviar:hover {
  cursor: pointer;
}

img {
  width: 70px;
  height: 90px;
}


